# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://nextjs.org/docs/basic-features/environment-variables for details.
# ------------------------------------------------------------------------------

# TMDB v3 bearer token (required)
TMDB_BEARER_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjMjI3MDM4Y2JjMTllNWZiYTZhZmU2M2ZhNWFkN2EyZCIsIm5iZiI6MTc0OTU2NTc4Ni41ODIsInN1YiI6IjY4NDg0MTVhMDI5MDhjODhkNjlmNTRhZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.f_rpdng8fT72wUm-5EPv-r7D6J5Wpaawq74mkft-nEI"

# prisma database url (required)
DATABASE_URL="postgresql://postgres:Tispf13579!!@localhost:5432/postgres"

# Optional (for persisting preview images to redis)
# NOTE: if you want to enable redis, only REDIS_HOST and REDIS_PASSWORD are required
# NOTE: don't forget to set isRedisEnabled to true in lib/config.ts
#REDIS_HOST=
#REDIS_PASSWORD=
#REDIS_USER='default'
#REDIS_NAMESPACE='preview-images'
